body{
    background-color: rgb(255, 0, 0);
    display: grid;
    place-items: center;
    height: 20px;
}
#weatherCard{
    width: 30%;
    border-radius: 50px;
    background-image: url(ocean.webp);
    background-size: 100% 100%;
    
    text-align: center;
    margin: 50px;
    transform: scale(1.05) translateZ(0);
}


#clock {
    font-size: 32px;
    font-family: sans-serif;
  }

 #weatherCard h1{
    color: white;
    
  }

  #cardData{
    padding: 5%;
  }





 